@charset "UTF-8";
html,
body {
  height: 100%;
}
body {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  color: #402D3A;
  min-width: 320px;
  padding: 0 !important;
  overflow-x: hidden;
  background: #fff;
}

* {
  outline: none !important;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 9px;
}

.row {
  margin: 0 -9px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1 .col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding: 0 9px;
}

a {
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #000;
}

p {
  margin: 10px 0;
}

img {
  width: initial;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

svg {
  width: initial;
  max-width: 100%;
  height: auto;
  max-height: 100%;
    transition: all 0.3s ease-in-out;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  --main-bg-color: #F1F1F4;
}

.topheader {
  
}

.topheader__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
     border-bottom: 1px solid #E2E2E2;
 padding: 14px 0;
}

.topheader__left {
  display: flex;
  align-items: center;
}
.toplink {
  padding: 0 16px;

}
.toplink a {
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */


/* Gray */

color: #818A8A;
}
.toplink a span  {
  padding-left: 9px;
}
.topheader__links {
  margin: 0 -16px;
  display: flex;
  align-items: center;
}
.topheader__email {}
.topheader__right {}
.callback {}
.link {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #CE9D70;
}
.phone {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #1E1E20;
}
.phone span {
  padding-left: 9px;
}
.topheader__right {
    display: flex;
  align-items: center;
  margin: 0 -12px;
}
.topheader__right > * {
  padding: 0 12px;
}

.mainheader {
   margin: 0 -16px;
  display: flex;
  align-items: center;
}
.mainheader__wrapper > * {
  padding: 0 15px;
}
.logo {}
.mainmenu  {
}
.mainmenu > ul {
  display: flex;
  align-items: center;
  margin: 0 -12px;
}
.mainmenu > ul > li {
  padding: 0 12px 32px 12px;
  margin-top: 30px;

}
.mainmenu > ul > li > a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: #1E1E20;
  padding-bottom: 6px;
  border-bottom: 2px solid transparent;
}

.mainmenu > ul > li > a:hover {
  border-bottom: 2px solid #49A399;
}

.mainmenu > ul > li.active > a {
  border-bottom: 2px solid #49A399;
}



.parent {
  position: relative;
}
.submenu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 220px;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 0px 6px 18px rgba(72, 58, 45, 0.1);
  border-radius: 4px;
}
.submenu li {
}
.submenu li a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #1E1E20;
  padding: 12px 16px;
      display: block;
}
.submenu li a:hover {
  color: #49A399;
}
.mainmenu > ul > li:hover .submenu {
  display: block;
}
.mainheader__button {}
.btn_border {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  border: 1px solid #49A399;
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-block;

  text-align: center;

  /* Green */
  padding: 8px 24px;
  color: #49A399;

}
.btn_border:hover {
  background: #49A399;
  color: #FFFFFF;
}
.btn_border:focus {
  background: #40958B;
  color: #FFFFFF;
}

.btn_border:disabled {
  background: #F1F1F4;
  color: #818A8A;
}



.mainheader__wrapper {
  display: flex;
  align-items: center;
  margin: 0 -15px;
  justify-content: space-between;
}


.indexblock .header {
   background-color: var(--main-bg-color);

}

.indexcontent {
  background-position: center;
  background-size: cover;
  background: linear-gradient(271.1deg, rgba(241, 241, 244, 0) 18.17%, rgba(241, 241, 244, 0.47) 34.08%, rgba(241, 241, 244, 0.75) 41.12%, #F1F1F4 52.96%), url(/images/bg1.jpg);
}

.indexcontent__wrapper {
  min-height: 686px;
  display: flex;
  align-items: center;
}
.mainblock__name {
 font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
 
  color: #818A8A;
}
.mainblock {}
.mainblock__name {}
.mainblock__title {}
.mainblock__form {}
.mainblock__video {}

h1 {
 font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 110%;
  color: #1E1E20;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

mark {
  background: #DCE4E1;
      padding: 0 10px
}

.mainblock__title {
  margin-bottom: 54px;
}

.mainblock__form {
  margin-bottom: 50px;
}
.mainblock__video img {
  display: inline-block;
vertical-align: middle;
}
.mainblock__video span {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */
  display: inline-block;
  vertical-align: middle;
  max-width: 154px;

  /* Gray */

  color: #818A8A;
  padding-left: 14px;
}
.form_row .form__items {
  max-width: 1115px;
  display: flex;
  height: 80px;
  box-shadow: 0px 6px 18px rgba(72, 58, 45, 0.1);
  border-radius: 4px;
}
.form_row input,
.form_row select,
.form_row .input {
    font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  line-height: 80px;
  color: #1E1E20;
  display: block;
  background-color: #fff;
  border:none;
  height: 100%;
}

.form_row input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  
  color: #1E1E20;
}
.form_row input::-moz-placeholder { /* Firefox 19+ */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  
  color: #1E1E20;
}
.form_row input:-ms-input-placeholder { /* IE 10+ */
 font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  
  color: #1E1E20;
}
.form_row input:-moz-placeholder { /* Firefox 18- */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  
  color: #1E1E20;
}


.input-date {
  background-image: url(/images/calendar.svg);
  background-position: left 50px center;
  background-repeat: no-repeat;
  padding-left: 95px;
  width: 349px;
}

.input-persons {
  background-image: url(/images/users.svg);
  background-position: left 32px center;
  background-repeat: no-repeat;
  padding-left: 70px;
  width: 264px;
}

.input-childs {
  background-image: url(/images/smile.svg);
  background-position: left 32px center;
  background-repeat: no-repeat;
  padding-left: 70px;
  width: 264px;
}



.form__item {
  height: 100%;
}

.form_row button {
    font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  
  color: #1E1E20;
  display: block;
  background-color: #fff;
  border:none;
  height: 100%;
}

.form_row button  {
  width: 238px;
}

button.btn_main, a.btn_main {
  background-color: #49A399;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
}


button.btn_main:hover, a.btn_main:hover {
  background-color: #40958B;
  box-shadow: 0px 2px 16px rgba(67, 160, 150, 0.45);
  color: #FFFFFF;
}
button.btn_main:focus, a.btn_main:focus {
  background-color: #40958B;
  color: #FFFFFF;
}

button.btn_main:disabled, a.btn_main:disabled {
  background-color: #F1F1F4;
  color: #818A8A;
}

.form__item {
  position: relative;
}

.form__items .form__item:nth-child(1):after,
.form__items .form__item:nth-child(2):after {
  content: "";
  width: 1px;
  height: 100%;
  background: #F1F1F4;
  position: absolute;
  right: 0;
  top:0;
}


.form__item select.select2-container {
  height: 100%;
}

.form__item  .select2-container .select2-selection--single {
  height: 80px;
  border: none;
  border-radius: 0;
}

.form__item .input-persons + .select2-container .select2-selection--single .select2-selection__rendered {
 height: 80px;

    line-height: 80px;
      font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #1E1E20;
    padding-left: 70px;
    background-image: url(/images/users.svg);
  background-position: left 32px center;
  background-repeat: no-repeat;

}

.form__item .input-childs + .select2-container .select2-selection--single .select2-selection__rendered {
 height: 80px;

    line-height: 80px;
      font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #1E1E20;
    padding-left: 70px;
    background-image: url(/images/smile.svg);
  background-position: left 32px center;
  background-repeat: no-repeat;

}



.select2-container--default .select2-selection--single .select2-selection__placeholder {
    line-height: 80px;
      font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #1E1E20;
}
.form__item.input-persons  .select2-container .select2-selection--single .select2-selection__rendered {

 }

.form__item .select2-container--default .select2-selection--single .select2-selection__arrow b {
  background-image: url(/images/arrow.svg);
  background-color: transparent;
  background-size: initial;
  border: none !important;
  height: 8px !important;
  width: 16px !important;
  margin: auto !important;
  top: unset !important;
  left: unset !important;
  right: unset;
  background-position: center;
  background-repeat: no-repeat;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: calc(50% - 4px);
  right: 38px;
    height: 8px !important;
  width: 16px !important;
}

.select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none;

    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 130%;
padding: 12px 16px;
/* Black */

color: #1E1E20;
background: #fff;
}


.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  color: #49A399;
  background: #fff;
      font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
   background: #F1F1F4;
}
.select2-container--default .select2-results__option--selected {
  
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 130%;
padding: 12px 16px;
/* Black */

color: #1E1E20;
}

.select2-container--default .select2-results>.select2-results__options {
  max-height: 400px;
}

ul#select2--results > *:first-child {
  display: none;
}

.select2-dropdown {
  border: none;
  box-shadow: 0px 6px 18px rgba(72, 58, 45, 0.1);
}

.t-dates.t-date-check-in, 
.t-dates.t-date-check-out {
  position: absolute;
  opacity: 0;
      width: 100%;
    height: 80px;
    width: 349px;

}

.t-check-in, .t-check-out {
  border: none;
}

.t-datepicker-day {
  top: 80px;
}

span.t-arrow-top, .t-arrow-top::after {
  display: none !important; 
}

.t-check-out .t-datepicker-day {
  left: 0;
}

table.t-table-condensed thead tr:first-child {
  background: #EFF6F4;

}
table.t-table-condensed thead tr:first-child  th {
  padding: 15px 0;
}
.t-datepicker-days .t-table-wrap {
  width: 50%;
  margin: 0;
      padding: 0 28px 28px 28px;
      position: relative;
}
.t-datepicker-days .t-table-wrap:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
      background: #EFF6F4;
          height: 49px;
    z-index: -1;
}
.t-datepicker-day {
  padding: 0;
}

table.t-table-condensed thead tr:last-child th {
 font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 130%;
padding: 20px 0;


/* Gray */

color: #818A8A;
}

table.t-table-condensed tbody {
  max-width: 230px;
}

.t-next, .t-prev, .t-table-condensed td, .t-table-condensed th {
padding: 3px;
}
.t-datepicker-days {
  width: 540px;
}

.t-day{
  background: none;
  font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 130%;


/* Black */

color: #1E1E20;
}
.t-end, .t-end-limit, .t-start {

  background: #49A399;
border-radius: 2px;
}
td.t-day.t-today.t-hover-day {
   background: #49A399;
  border-radius: 2px;
  color: #fff;
}

td.t-day.t-hover-day {
   background: #49A399;
  border-radius: 2px;
  color: #fff;
}
td.t-day.t-range-limit {
  background: #F1F1F4;
   font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 130%;


/* Black */

color: #1E1E20;
}

.t-hover-day:hover:after {
    border-color: transparent;
    border-top-color: #49A399;
}
.t-hover-day:hover,
 .t-hover-day-content {
   background: #49A399;
}
.t-start.t-today, .t-start.t-today .t-hover-day-content, .t-end.t-today, .t-end.t-today .t-hover-day-content {
  background: #49A399;
  border-radius: 2px;
}

.t-check-in .t-end, .t-check-out .t-start, .t-check-out tr ~ .t-end {
   background: #49A399;
  border-radius: 2px;
  color: #fff;
}

.t-today:hover, .t-today:hover .t-hover-day-content {
    background: #49A399;
  border-radius: 2px;
  color: #fff;
}

.t-highlighted {
  font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 130%;


color: #1E1E20;
}


.pageblock {
  padding: 125px 0 120px 0;
}
h2 {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* Black */
  margin-bottom: 60px;
  color: #1E1E20;
}
.blocktitle {}
.imgtextrow {
  display: flex;
  margin: 0 -30px;

}
.imgtextrow__img {
  width: 50%;
  padding: 0 30px;
   height: 100%;
}
.galleryslider {
   overflow: hidden;
   border-radius: 8px;
}
.galleryslider__container {
  position: relative;
  height: 100%;
}
.galleryslider__slider {}
.galleryslider__slide {
  border-radius: 8px;
}
.galleryslider__arrows {}
.arrowLeft, .arrowRight {
  position: absolute;
  top: calc(50% - 24px);
  width: 48px;
  height: 48px;
  background: rgba(220, 228, 225, 0.4);
  backdrop-filter: blur(4px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.arrowRight {
    right: 10px;

}
.arrowLeft {
    left: 10px;

}

.imgtextrow__text {
    width: 50%;
  padding: 0 30px;
  height: 100%;
}
.textlimit {}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #818A8A;
  margin-bottom: 15px;
  margin-top: 0;
}


.slick-dots li {
  margin: 0 4px;
}
.slick-dots li {
    width: 8px;
  height: 8px;
}
.slick-dots li button {
  width: 8px;
  height: 8px;
  background-color: #F1F1F4;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}
.slick-dots li button:before {
  display: none;
}
.slick-dots li.slick-active button {
  width: 8px;
  height: 8px;
  background-color: #CE9D70;
  border-radius: 50%;
  padding: 0;
}
.slick-dots {
  bottom: 22px;
}

.galleryslider__slide img {

}

.textlimit {
  position: relative;
    height: 368px;
   
}
.textlimit__content {
      padding-bottom: 62px;

}
.galleryslider__img {
   height: 368px;
   position: relative;
   width: 100%;

}
.galleryslider__img img {
      position: absolute;
    left: -99999px;
    right: -99999px;
    top: -99999px;
    bottom: -99999px;
    margin: auto;
    max-height: 100%;
    max-width: initial;
}

.textlimit:after {
  content: "";
  height: 62px;
  position: absolute;
  bottom: 0;
  width: 100%;
   background: linear-gradient(3.75deg, #FFFFFF -7.1%, rgba(255, 255, 255, 0) 103.92%);

}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;

  background: #F1F1F4 !important;
  border-radius: 8px;
}
.mCSB_scrollTools .mCSB_draggerRail {
  background: none;
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
   width: 6px;

  background: #F1F1F4;
  border-radius: 8px;
}

.fitchesblock {}
.container {}
.fitches {}
.fitches__items {}
.fitches__item {}
.fitches__icon {}
.fitches__text {}