@charset "UTF-8";
body {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  color: #402D3A;
  min-width: 320px;
  padding: 0 !important;
  overflow-x: hidden;
  background: #fff;
}

* {
  outline: none !important;
}

.container {
  max-width: 1770px;
  width: 100%;
  padding: 0 15px;
}

.row {
  margin: 0 -15px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1 .col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding: 0 15px;
}

a {
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #000;
}

p {
  margin: 10px 0;
}

img {
  width: initial;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

svg {
  width: initial;
  max-width: 100%;
  height: auto;
  max-height: 100%;
    transition: all 0.3s ease-in-out;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


